<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trackedApplications</key>
	<data>
	YnBsaXN0MDCvEBYBBhQXHSAoKzE0Oz5ER09SWVtjZm5x0QIDVmJ1bmRsZdEEBVJfMFt1
	cy56b29tLnhvc9MHCAkKDBNYbG9jYXRpb25fEBFtZW51SXRlbUxvY2F0aW9uc1lpc0Fs
	bG93ZWTRAgvRBAWhDdEOD1thZGhvY0JpbmFyedEEENERElhyZWxhdGl2ZV8QW2ZpbGU6
	Ly8vVXNlcnMvbmFwYXRzYy9BcHBsaWNhdGlvbnMvSG9tZSUyME1hbmFnZXIlMjBBcHBz
	L3pvb20udXMuYXBwL0NvbnRlbnRzL01hY09TL3pvb20udXMJ0QIV0QQWXxATYXBwLnpl
	bi1icm93c2VyLnplbtMHCAkYGhPRAhnRBBahG9ECHNEEFtECHtEEH18QFWNvbS5iaXR3
	YXJkZW4uZGVza3RvcNMHCAkhIxPRAiLRBB+hJNEOJdEEJtERJ18QX2ZpbGU6Ly8vVXNl
	cnMvbmFwYXRzYy9BcHBsaWNhdGlvbnMvSG9tZSUyME1hbmFnZXIlMjBBcHBzL0JpdHdh
	cmRlbi5hcHAvQ29udGVudHMvTWFjT1MvQml0d2FyZGVu0QIp0QQqXxAWamFja2xhbmRy
	aW4uT25seVN3aXRjaNMHCAksLhPRAi3RBCqhL9ECMNEEKtECMtEEM18QEmNvbS5hcHBs
	ZS5UZXJtaW5hbNMHCAk1NxPRAjbRBDOhONECOdEEOl8QD29yZy53aW5laHEud2luZdEC
	PNEEPV8QF2lvLnRhaWxzY2FsZS5pcG4ubWFjc3lz0wcICT9BE9ECQNEEPaFC0QJD0QQ9
	0QJF0QRGXxAPYm9ia28uYWVyb3NwYWNl0wcICUhKE9ECSdEERqFL0Q5M0QRN0RFOXxBf
	ZmlsZTovLy9Vc2Vycy9uYXBhdHNjL0FwcGxpY2F0aW9ucy9Ib21lJTIwTWFuYWdlciUy
	MEFwcHMvQWVyb1NwYWNlLmFwcC9Db250ZW50cy9NYWNPUy9BZXJvU3BhY2XRAlDRBFFf
	EBVjb20ubWl0Y2hlbGxoLmdob3N0dHnTBwgJU1UT0QJU0QRRoVbRAlfRBFhfEBBldS5l
	eGVsYmFuLlN0YXRz0QJa0QRY0wcICVxeE9ECXdEEWKFf0Q5g0QRh0RFiXxBXZmlsZTov
	Ly9Vc2Vycy9uYXBhdHNjL0FwcGxpY2F0aW9ucy9Ib21lJTIwTWFuYWdlciUyMEFwcHMv
	U3RhdHMuYXBwL0NvbnRlbnRzL01hY09TL1N0YXRz0QJk0QRlXxARY29tLmZyYW5rZS5X
	aGlza3nTBwgJZ2kT0QJo0QRlomps0QJr0QQ60QJt0QRl0QJv0QRwXxAab3JnLmxvY2Fs
	c2VuZC5sb2NhbHNlbmRBcHDTBwgJcnQT0QJz0QRwoXXRAnbRBHAACAAhACQAKwAuADEA
	PQBEAE0AYQBrAG4AcQBzAHYAggCFAIgAkQDvAPAA8wD2AQwBEwEWARkBGwEeASEBJAEn
	AT8BRgFJAUwBTgFRAVQBVwG5AbwBvwHYAd8B4gHlAecB6gHtAfAB8wIIAg8CEgIVAhcC
	GgIdAi8CMgI1Ak8CVgJZAlwCXgJhAmQCZwJqAnwCgwKGAokCiwKOApEClAL2AvkC/AMU
	AxsDHgMhAyMDJgMpAzwDPwNCA0kDTANPA1EDVANXA1oDtAO3A7oDzgPVA9gD2wPeA+ED
	5APnA+oD7QPwBA0EFAQXBBoEHAQfAAAAAAAAAgEAAAAAAAAAdwAAAAAAAAAAAAAAAAAA
	BCI=
	</data>
</dict>
</plist>
